<!doctype html>
<html lang="en" ng-app="eventjuggler">

    <head>
        <meta charset="utf-8">
        <title>EventJuggler</title>
        
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
                
        <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/base.css" rel="stylesheet">
        
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-cookies.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="lib/angular/angular-sanitize.js"></script>
        
        <script src="lib/jquery/jquery-1.9.0.js"></script>
        <script src="lib/bootstrap/js/bootstrap.js"></script>
        
        <script src="lib/crypto/md5.js"></script>
        
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
    </head>

    <body ng-controller="UserCtrl">
        <div ng-include src="'partials/login.html'"></div>
    
        <div id="top" ng-show="!user.loggedIn">
            <header class="container">
                <nav>
                    <ul class="left">
                        <li>
                            <form ng-controller="EventSearchCtrl" ng-submit="search()">
                                <fieldset>
                                    <label for="searchEvents"><i class="icon-search"><span class="hiddenElement">Search for:</span></i></label>
                                    <input id="searchEvents" type="search" placeholder="Search events" ng-model="query"/>
                                </fieldset>    
                            </form>
                        </li>
                        <li class="active"><!-- Add a class active dinamically --> 
                            <a href="#/events">Explore events</a>
                        </li>
                    </ul>
                    <ul class="right">
                        <li>
                            <a href="#loginModal" data-toggle="modal">Login</a>
                        </li>
                        <li>
                            <a href="#/register">Register</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <div id="banner" class="container">
                <h1><a href="#/events">EventJuggler</a></h1>
                <h2>Find tech presentations and connect ideas.</h2>
            </div>
        </div><!-- End #top -->
        
        <div id="top" ng-show="user.loggedIn" class="loggedIn">
            <header class="container">
                <nav>
                    <ul class="left">
                        <li>
                            <form ng-controller="EventSearchCtrl" ng-submit="search()">
                                <fieldset>
                                    <label for="searchEvents"><i class="icon-search"><span class="hiddenElement">Search for:</span></i></label>
                                    <input id="searchEvents" type="search" placeholder="Search events" ng-model="query"/>
                                </fieldset>    
                            </form>
                        </li>
                        <li class="active"><!-- Add a class active dinamically --> 
                            <a href="#/events">Explore events</a>
                        </li>
                    </ul>
                    
                    <h1><a href="#/events">EventJuggler</a></h1>
                    
                    <ul class="right">
                        <li>
                            <a href="#/events?user={{user.username}}">My events</a>
                        </li>
                        <li>
                            <a href="#/events/create">Create event</a>
                        </li>
                        <li class="userName">
                            <a><img ui-gravatar-src="{{user.username}}" alt="profile picture">{{user.name}}</a>
                        </li>
                        <li>
                            <a ng-click="user.logout()">Logout</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div><!-- End #top -->

        <div id="loading">
            <i class="icon-spinner icon-spin"></i> Loading...
        </div>
        
        <div id="error">
            <i class="icon-warning-sign"></i> Error <span id="errorStats"></span>
        </div>

        <div ng-view id="content" class="container">
            <div ng-view></div>
        </div><!-- End #content -->
        
        <footer>
            <p>Copyright © 2009-2013. All rights reserved.</p>
        </footer>
    </body>
</html>
