<div class="hero-unit">
    <h1>EventJuggler</h1>
    <p>Welcome to EventJuggler</p>
</div>

<div class="container">
    <div class="span8">
        <div ng-repeat="event in events" class="span3 well">
            <div class="span1">
                <div ng-background-image="event.imageId" style="width: 200px; height: 150px;"></div>
            </div>
            <div class="span3">
                <p>
                    <a href="#/events/{{event.id}}">{{event.title}}</a>
                </p>
                <p>{{event.time | date}}</p>

                <p>{{event.description | substring}}</p>

                <p>{{event.location.city}}</p>

                <p>
                    <a ng-repeat="tag in event.tags" class="btn" href="#/events?tags={{tag}}">{{tag}}</a>
                </p>

                <p ng-show="event.attendingCount > 0">{{event.attendingCount}} attending</p>
            </div>
        </div>
    </div>
    <div class="span3">
        <h2>Popular events</h2>
        <div class="span3">
            <ul>
                <li ng-repeat="event in popular"><a href="#/events/{{event.id}}">{{event.title}}</a></li>
            </ul>
        </div>
    </div>
</div>