<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Login</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-block alert-error" ng-show="failed">Failed to login!</div>

        <div id="facebook-login-box" ng-click="loginFacebook()">
            <img id="facebook-sign" src="img/facebook.png" border="0" />
        </div>

        <div id="twitter-login-box" ng-click="loginTwitter()">
            <img id="twitter-sign" src="img/twitter.png" border="0" />
        </div>

        <hr/>

        <form class="form-horizontal" name="loginForm" ng-submit="login()">
            <div class="control-group">
                <label class="control-label" for="username">User Name</label>
                <div class="controls">
                    <input type="text" id="username" ng-model="user.username" placeholder="User Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" ng-model="user.password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary">Login</button>
                </div>
        </form>
    </div>
</div>