<div class="container register">
    <p class="alert alert-block alert-error" ng-show="status == 'failed'">Failed to create event</p>

    <form class="form-horizontal" ng-submit="create()" name="eventCreateForm">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" id="title" ng-model="e.title" placeholder="Title"  />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea id="description" ng-model="e.description" placeholder="Description"></textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="time">Date</label>
            <div class="controls">
                <input type="text" id="time" ng-model="date" placeholder="Date" class="input-small"/>
                <input type="text" id="time" ng-model="month" placeholder="Month" class="input-small"/>
                <input type="text" id="time" ng-model="year" placeholder="Year" class="input-small"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="imageFile">Image</label>
            <div class="controls">
                 <input type="file" id="imageFile" ng-model="image"  />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="tags">Tags</label>
            <div class="controls">
                 <input type="text" id="tags" ng-model="tags" placeholder="Tags"  />
            </div>
        </div>

        <hr />

        <div class="control-group">
            <label class="control-label" for="city">City</label>
            <div class="controls">
                 <input type="text" id="city" ng-model="e.location.city" placeholder="City"  />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="country">Country Code</label>
            <div class="controls">
                 <input type="text" id="country" ng-model="e.location.country" placeholder="Country Code"  />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary" id="createButton">Create</button>
            </div>
        </div>

    </form>
</div>