<div class="container eventDetail">
    <div style="float: left; width: 20%; margin-top: 2em;">
        <img ng-src="{{event.imageId}}"></img>
        <p>{{event.location.city}}, {{event.location.country | uppercase}}</p>
        <p>{{event.time | date:'mediumDate'}} - {{event.time | date:'shortTime'}}</p>
        <p>{{event.attendance.length}} attending</p>
        <p>
            <button ng-show="user.loggedIn && !event.attending" class="btn" ng-click="attend()">Attend</button>
            <button ng-show="user.loggedIn && event.attending" class="btn" ng-click="resign()">Resign</button>
            <button ng-show="user.loggedIn" class="btn" ng-click="edit()">Edit</button>
            <button ng-show="user.loggedIn" class="btn" ng-click="delete()">Delete</button>
        </p>
    </div>
    <div style="float: left; width: 50%; margin-left: 5%; margin-right: 5%;">
        <h2>{{event.title}}</h2>

        <p ng-bind="event.description"></p>

        <h3>{{event.organizerGroup.name}}</h3>

        <div ng-bind="event.organizerGroup.description"></div>

        <p style="margin-top: 2em;">
            <a ng-repeat="tag in event.tags" class="btn" href="#/events?tags={{tag}}">{{tag}}</a>
        </p>
    </div>
    <div style="float: left; width: 20%;">
        <h2>Related events</h2>
        <div class="span3">
            <ul class="relatedEvents">
                <li ng-repeat="event in related"><a href="#/events/{{event.id}}">{{event.title}}</a></li>
            </ul>
        </div>
    </div>
</div>