<div class="container eventList">

    <section>
        <hgroup class="clearfix">
            <h3>Popular events</h3>
        </hgroup>
        <nav class="popularEvents">
            <ul>
                <li ng-repeat="event in (popular | limitTo:5)"><a href="#/events/{{event.id}}">{{event.title}}</a></li>
            </ul>
        </nav>
    </section>

    <section>
        <hgroup class="clearfix">
            <h3>Upcoming events</h3>
            <form id="events-filter">
                <fieldset>
                    <legend>Filter events</legend>
                    <label for="distance">within</label>
                    <div class="selectors">
                        <a href="#" class="selected">any distance</a> <i class="icon-angle-down"></i>
                    </div>
                    <label for="city">of</label>
                    <div class="selectors">
                        <a href="#" class="selected">Florianopolis, Brazil</a> <i class="icon-angle-down"></i>
                    </div>
                </fieldset>
            </form>
        </hgroup>

        <div ng-repeat="event in events" class="event-wrapper">
            <article class="ng-scope event">
                <div class="left">
                    <span class="date">{{event.time | eventDate}}</span> <span class="dateShadow"></span> <a
                        href="#/events/{{event.id}}" class="mask clearfix"> <img ng-background-image="{{event.imageId && '/eventjuggler-server/image/' + event.imageId}}"></img>
                    </a> <span class="locality" ng-show="event.location.city && event.location.country"><a
                        href="#/events/{{event.id}}">{{event.location.city}}</a>, <a href="#/events/{{event.id}}">{{event.location.country
                            | uppercase}}</a></span>
                </div>
                <div class="right">
                    <h4>
                        <a href="#/events/{{event.id}}" ng-class="event.title.length > 40 && 'smaller'">{{event.title |
                            substring:75}}</a>
                    </h4>
                    <p ng-show="event.description && event.description.length > 0">{{event.description | removehtml | substring:100:'..'}}</p>
                    <nav class="tags">
                        <ul>
                            <li ng-repeat="tag in (event.tags | limitTo:2)"><a href="#/events?tag={{tag}}">{{tag}}</a></li>
                        </ul>
                    </nav>
                    <p ng-show="event.attendance.length > 0">{{event.attendance.length}} attending</p>
                </div>
            </article>
        </div>

    </section>
</div>
<!-- End .container -->